.main-container {
    .toolbar {
        height: 60px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1976d2;
        color: white;
        font-weight: 600;
      }
      .btn-light{
        position: absolute;
        right: 20px;
        top:12px;
      }
}