<div class="main-container">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <span>Stock Tracker</span>
    <button type="button" class="btn btn-light"(click)="isAddStockClicked = true">Add Stocks</button>
  </div>
  <!-- NOTE: Routing is not used becuase we have only 2 main compoents -->
  <div *ngIf="!isAddStockClicked">
    <app-stocks [newStock]="newStock"></app-stocks>
  </div>
  <div *ngIf="isAddStockClicked">
    <app-create-stock (addStockEvent)="addNewStock($event)"></app-create-stock>
  </div>
</div>
